#root {
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  overflow: hidden;
}

#root::before {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  content: ' ';
  z-index: -1;
  background: var(--primary-50);
  background: -webkit-linear-gradient(to bottom, var(--primary-100) 1%, var(--primary-50) 15%, var(--primary-50) 70%, var(--primary-300));
  background: linear-gradient(to bottom, var(--primary-100) 1%, var(--primary-50) 15%, var(--primary-50));
}

html[data-theme='dark'] .landing-page-illustration {
  filter: drop-shadow(0px 0px 10px var(--primary-400));
}

html[data-theme='dark'] #root::before {
  opacity: 0.5;
  mix-blend-mode: color-burn;
}

.hue-adaptative {
  filter: hue-rotate(var(--hue-rotate));
}
